<!DOCTYPE html>
<html>
<head>
    <title>Slumber | 404</title>
    <% include partials/head %>
    <style>
      .splash {
        margin-top: 100px
      }
    </style>
</head>
<body>
  <% include partials/header %>
  <div class="container">

      <div class="splash jumbotron text-center">
          <h1><span class="fa fa-bed"></span> That's an error</h1>

          <a href="/" class="btn btn-default"><span class="fa fa-home"></span> Home</a>
      </div>
  </div>
</body>
</html>
