<!DOCTYPE html>
<html>
<head>
    <title>Slumber | Home</title>
    <% include partials/head %>
    <style>
      .splash {
        margin-top: 200px;
      }
    </style>
</head>
<body class="container-fluid">
  <% include partials/header %>
  <video playsinline autoplay muted loop id="bgvid">
    <source src="/media/indexVideo.mp4" type="video/mp4">
  </video>
  <% include partials/footer %>
</body>
</html>
