<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Slumber | Signup</title>
    <% include partials/head %>
</head>
<body class="loginPage">
  <div class="container-fluid">
    <div class="row">
      <% include partials/header %>
    </div>
    <div class="row">
      <div class="col s4 col offset-s4 loginCard well">
        <h1>Sign Up</h1>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- SIGNUP FORM -->
        <form action="/signup" method="post">
          <div class="form-group">
            <input type="text" placeholder="First Name" class="form-control col s5" name="fname" autocomplete="off" />
            <input type="text" placeholder="Last Name" class="form-control col s5 offset-s2" name="lname" autocomplete="off"/>
          </div class="form-group">
          <div class="form-group">
            <input type="number" placeholder="Age" class="form-control col s2" min="0" max="120" name="age" autocomplete="off"/>
          </div>
          <div class="form-group">
            <select name="gender" class="form-control transparent">
              <option value="" disabled selected class="black-text ">Gender</option>
              <option value="M" class="transparent">Male</option>
              <option value="F" class="transparent">Female</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control" name="username" onblur="this.value=removeSpaces(this.value);" autocomplete="off"/>
            <input type="text" placeholder="Email" class="form-control" name="email" onblur="this.value=removeSpaces(this.value);" autocomplete="off"/>
            <input type="password" placeholder="Password" class="form-control" name="password" autocomplete="off"/>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-flat loginButton col s4 offset-s4">Sign Up</button>
          </div>
        </form>
        <div class="row">
          <p>Already have an account? <a href="/login">Login</a></p>
          <p>Or go <a href="/">home</a>.</p>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer %>
</body>
</html>
